.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    margin: 60px 0px;
    padding: 16px 32px;
    font-size: 30px;
}

.btn:hover {
    background: #1d49aa;
}
   
.btn:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

#tone {
    font-size: 5em;
    margin:120px 0px;
}